<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <head th:replace="fragments/head :: head"></head>

   <body class="fix-sidebar fix-header">
      <!-- Preloader -->
      <div class="preloader">
         <div class="cssload-speeding-wheel"></div>
      </div>
      <div id="wrapper">
         <!-- Top Navigation -->
         <nav th:replace="fragments/top_navbar :: navbar">
         </nav>
         <!-- End Top Navigation -->

         <!-- Left navbar-sidebar -->
         <div th:replace="fragments/left_sidebar :: sidebar">
         </div>
         <!-- Left navbar-sidebar end -->

         <!-- Page Content -->
         <div id="page-wrapper">
            <div class="container-fluid">
               <div class="row bg-title">
                  <!-- .page title -->
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                     <h4 class="page-title">企业后台-餐厅结算信息补全</h4>
                  </div>
                  <!-- /.page title -->
                  <!-- .breadcrumb -->
                  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                     <ol class="breadcrumb">
                        <li><a th:href="@{/}">首页</a></li>
                        <li><a th:href="@{/ops}">运营数据</a></li>
                        <li class="active"><a th:href="@{#}">企业后台-餐厅结算信息补全</a></li>
                     </ol>
                  </div>
                  <!-- /.breadcrumb -->
               </div>
               <!-- .row -->
               <div class="row">
                  <div class="col-md-12">
                     <div class="white-box">
                        <h3 class="box-title">企业后台-餐厅结算信息补全 <a class="pull-right" th:href="@{/ops/receipt/edit}">新增</a></h3>
                    
                     <div class="row">
                      <form id="query-form" th:action="@{/ops/receipt/list}" method="post">
                              <input type="hidden" name="pageNum" th:value="${page.number}" />
                              <input type="hidden" name="pageSize" th:value="${page.size}" />
                               <!-- 搜索框 -->
                                <div class="col-md-3">
                                  <input  name="orderNum"  class="form-control"  th:value="${orderNum}" placeholder= "订单号"/>
                                  </div>
                                <div class="col-md-1">
                                  <button type="submit" class="btn btn-block btn-primary waves-effect waves-light" style="height: 38px">Search</button>
                              </div>
                      </form>
                      </div>
                       </div>
                  </div>
                  <div class="col-md-12">
                    <div class="white-box">
                        <div class="table-responsive">
                          <table class="table table-bordered table-hover Sortable">
                            <thead >
                              <tr>
                                <th>订单号</th>
                                <th>代收款证明</th>
                                <th>日期</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="item : ${page.content}">
                                <td th:text="${item.orderNum}"></td>
                                <td th:text="${item.pictureUrl}"></td>
                                <td th:text="${item.pt}"></td>
                                <td>
                                    <a th:href="@{/ops/receipt/edit(orderNum=${item.orderNum})}" data-toggle="tooltip" data-original-title="Edit">
                                         <i class="fa fa-pencil text-inverse m-r-10">
                                        </i> 
                                    </a>
                                </td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr><td colspan="22" style="text-align: center;">
                                <div th:replace="fragments/pageinfo :: pageinfo(${page})"></div>
                              </td></tr>
                            </tfoot>
                          </table>
                        </div>
                      </div><!-- /.white-box -->
                  </div><!-- /.col-md-12 -->
               </div>
               <!-- /.row -->
               <!-- .right-sidebar -->
               <div th:replace="fragments/right_sidebar :: rightsidebar">
               </div>
               <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
            <footer th:replace="fragments/footer :: footer"></footer>
         </div>
         <!-- /#page-wrapper -->
      </div>
      <!-- /#wrapper -->
      <div class="foot_scripts" id="foot_scripts" th:replace="fragments/foot_scripts :: foot_scripts"></div>
   </body>
</html>