<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <head th:replace="fragments/head :: head"></head>
    
   <body class="fix-sidebar">
      <!-- Preloader -->
      <div class="preloader">
         <div class="cssload-speeding-wheel"></div>
      </div>
      <div id="wrapper">
         <!-- Top Navigation -->
         <nav th:replace="fragments/top_navbar :: navbar">
         </nav>
         <!-- End Top Navigation -->
         
         <!-- Left navbar-sidebar -->
         <div th:replace="fragments/left_sidebar :: sidebar">
         </div>
         <!-- Left navbar-sidebar end -->
         
         <!-- Page Content -->
         <div id="page-wrapper">
            <div class="container-fluid">
               <div class="row bg-title">
                  <!-- .page title -->
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                     <h4 class="page-title">运营订单记录</h4>
                  </div>
                  <!-- /.page title -->
                  <!-- .breadcrumb -->
                  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                     <ol class="breadcrumb">
                        <li><a th:href="@{/}">首页</a></li>
                        <li><a th:href="@{/ops}">运营数据</a></li>
                        <li class="active"><a th:href="@{#}">运营订单记录</a></li>
                     </ol>
                  </div>
                  <!-- /.breadcrumb -->
               </div>
               <!-- .row -->
               <div class="row">
                  <div class="col-md-12">
                     <div class="white-box">
                        <h3 class="box-title">运营订单记录 <a class="pull-right" href="#">编辑报表</a><a class="pull-right qc-download" href="#" th:attr="data-url=@{/ops/orderquery/download/operative}">导出</a></h3>
                        
                        <div class="row">
                          <form id="query-form" th:action="@{/ops/orderquery/operative}" method="get">
                          <input type="hidden" name="pageNum" th:value="${page.number}" />
                          <input type="hidden" name="pageSize" th:value="${page.size}" />
                          <div class="col-md-4">
                            <select class="selectpicker"  data-style="form-control" name="company" data-live-search="true">
                              <option th:selected="${company==-1}" value="-1">所属客户</option>
                              <option th:each="x : ${companyList}" th:text="${x.title}" th:selected="${company==x.id}" th:value="${x.id}"></option>
                            </select>
                          </div>
                          <div class="col-md-2">
                            <select class="selectpicker"  data-style="form-control" name="sales" data-live-search="true">
                              <option th:selected="${sales==-1}" value="-1">维护销售</option>
                               <option th:each="x : ${salesList}" th:text="${x.salesName}" th:selected="${sales==x.id}" th:value="${x.id}"></option>
                            </select>
                          </div>
                        <div class="col-md-2">
                                <select class="selectpicker" multiple="multiple"  data-style="form-control" name="city" title="全部城市" data-live-search="true">
                                  <option th:each="x : ${cityList}" th:text="${x}" th:value="${x}" th:selected="${#arrays.contains(city, x)}"></option>
                                </select>
                              </div>
                          <div class="col-md-2">
                            <select class="selectpicker"  data-style="form-control" title="全部状态"  name="orderStatus" multiple="multiple"  data-live-search="true">
                            <option  th:each="x : ${orderStatusMap}" th:text="${x.value}" th:selected="${#arrays.contains(orderStatus,x.key)}" th:value="${x.key}" ></option>
<!--                                 <option  th:text="待确认" th:selected="${#arrays.contains(orderStatus,'1')}" value="1" ></option> 
                                <option  th:text="预订成功" th:selected="${#arrays.contains(orderStatus,'5')}" value="5"></option>
                                <option  th:text="商户拒绝" th:selected="${#arrays.contains(orderStatus,'6')}" value="6"></option>
                                <option  th:text="客服拒绝" th:selected="${#arrays.contains(orderStatus,'7')}" value="7"></option>
                                <option  th:text="商户取消" th:selected="${#arrays.contains(orderStatus,'10')}" value="10"></option>
                                <option  th:text="客服取消" th:selected="${#arrays.contains(orderStatus,'11')}" value="11"></option>
                                <option  th:text="用户取消" th:selected="${#arrays.contains(orderStatus,'15')}" value="15"></option>
                                <option  th:text="待支付" th:selected="${#arrays.contains(orderStatus,'30')}" value="30"></option>
                                <option  th:text="已支付（线上）"   th:selected="${#arrays.contains(orderStatus,'35')}" value="35"></option>
                                <option  th:text="已支付（线下）"  th:selected="${#arrays.contains(orderStatus,'36')}" value="36"></option>
                                <option  th:text="已送达" th:selected="${#arrays.contains(orderStatus,'2002')}" value="2002"></option>
                                <option  th:text="待报销" th:selected="${#arrays.contains(orderStatus,'40')}" value="40"></option>
                                <option  th:text="已报销" th:selected="${#arrays.contains(orderStatus,'45')}" value="45"></option> -->
                            </select>
                            <!-- 1：待确认，5：预订成功（接受订单），6：商户拒绝，7：客服拒绝，10：商户取消（订单超时），11：客服取消(代替商户取消），15：用户取消（付款前），30：待支付，35：已支付，40：待报销，45：已报销） -->
                          </div>
                           <div class="col-md-2">
                                <select class="selectpicker"  data-style="form-control" name="timeType">
                                  <option th:selected="${timeType=='-1'}" value="-1">时间筛选类型</option>
                                  <option th:selected="${timeType=='create'}" value="create">下单时间</option>
                                  <option th:selected="${timeType=='yuyue'}" value="yuyue">预约时间</option>
                                  <option th:selected="${timeType=='payTime'}" value="payTime">支付时间</option>
                                  <option th:selected="${timeType=='reportTime'}" value="reportTime">报备时间</option>
                                </select>
                              </div>
                          <div class="col-md-4">
                             <div class="input-daterange input-group" id="date-range">
                                <input type="text" class="form-control" name="startTime" th:value="${startTime}"/>
                                <span class="input-group-addon"><i class="icon-calender"></i></span> 
                                <span class="input-group-addon bg-info b-0 text-white"> - </span>
                                <input type="text" class="form-control" name="endTime" th:value="${endTime}"/>
                                <span class="input-group-addon"><i class="icon-calender"></i></span> 
                              </div>
                          </div>
                          <div class="col-md-11">
                            <input name="searchKey" class="form-control" th:value="${searchKey}" placeholder= "订单号、下单人手机、餐厅名"/>
                          </div>
                          <div class="col-md-1">
                              <button type="submit" class="btn btn-block btn-primary waves-effect waves-light" style="height: 38px">搜索</button>
                          </div>
                          </form>
                        </div><!-- /.row -->
            
                     </div>
                  </div>
                
                  <div class="col-md-12">
                    <div class="white-box">
                        <div class="table-responsive">
                          <table class="table table-bordered table-hover">
                            <thead>

                              <tr>
                                <th width="8%">订单号</th>
								<th width="8%">餐厅名</th>
								<th width="8%">餐厅ID</th>
								<th width="8%">所属商户</th>
								<th width="8%">维护销售</th>
								<th width="8%">城市</th>
								<th width="8%">所属客户</th>
								<th width="8%">订单状态</th>
								<th width="8%">是否需要包厢 </th>
								<th width="8%">是否立即配送 </th>
								<th width="8%">下单时间</th>
								<th width="8%">预约时间</th>
								<th width="8%">支付时间</th>
								<th width="8%">报备时间</th>
								<th width="8%">用户姓名 </th>
								<th width="8%">工号</th>
								<th width="8%">实际消费金额</th>
								<th width="8%">实际用餐人数</th>
								<th width="8%">评分</th>
								<th width="8%">评论</th>
								<th width="8%">业务类型</th>
								<th width="8%">返点</th>
								<th width="8%">餐厅地址</th>
                                <th class="text-nowrap" style="display: none">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="item : ${page.content}">
                                <td th:text="${item.orderNum}"></td>
								<td th:text="${item.restaurantName}"></td>       
								<td th:text="${item.restaurantId}"></td>       
								<td th:text="${item.merchantName}"></td>         
								<td th:text="${item.salesName}"></td>         
								<td th:text="${item.cityName}"></td>               
								<td th:text="${item.company}"></td>    
								<td th:text="${item.orderSatus}"></td>               
								<td th:text="${item.isRoom}"></td>               
								<td th:text="${item.isDelivery}"></td>           
								<td th:text="${item.createTime}"></td>           
								<td th:text="${item.yuyueTime}"></td>            
								<td th:text="${item.payTime}"></td>            
								<td th:text="${item.reportTime}"></td>           
								<td th:text="${item.realname}"></td>    
								<td th:text="${item.jobNum}"></td>  
								<td th:text="${item.money}"></td>
								<td th:text="${item.actualPeople}"></td>         
								<td th:text="${item.score}"></td>              
								<td th:text="${item.reason}"></td>               
								<td th:text="${item.serviceType}"></td>          
								<td th:text="${item.rates}"></td>
								<td th:text="${item.restaurantAddress}"></td>   
                                <td class="text-nowrap" style="display: none"><a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a> <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> </td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr><td colspan="22" style="text-align: center;">
                                <div th:replace="fragments/pageinfo :: pageinfo(${page})"></div>
                              </td></tr>
                            </tfoot>
                          </table>
                        </div>
                      </div><!-- /.white-box -->
                  </div><!-- /.col-md-12 -->
               </div>
               <!-- /.row -->
               <!-- .right-sidebar -->
               <div th:replace="fragments/right_sidebar :: rightsidebar">
               </div>
               <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
            <footer th:replace="fragments/footer :: footer"></footer>
         </div>
         <!-- /#page-wrapper -->
      </div>
      <!-- /#wrapper -->
      
      <div class="foot_scripts" id="foot_scripts" th:replace="fragments/foot_scripts :: foot_scripts"></div>
      <script type="text/javascript">
      $(document).ready(function(){
    	  $('#date-range').datepicker({
              autoclose: true,
              todayHighlight: true,
              format: "yyyy-mm-dd"
          });
      });
      
      </script>
   </body>
</html>