<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <head th:replace="fragments/head :: head"></head>
    
   <body class="fix-sidebar fix-header">
      <!-- Preloader -->
      <div class="preloader">
         <div class="cssload-speeding-wheel"></div>
      </div>
      <div id="wrapper">
         <!-- Top Navigation -->
         <nav th:replace="fragments/top_navbar :: navbar">
         </nav>
         <!-- End Top Navigation -->
         
         <!-- Left navbar-sidebar -->
         <div th:replace="fragments/left_sidebar :: sidebar">
         </div>
         <!-- Left navbar-sidebar end -->
         
         <!-- Page Content -->
         <div id="page-wrapper">
            <div class="container-fluid">
               <div class="row bg-title">
                  <!-- .page title -->
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                     <h4 class="page-title">推荐餐厅</h4>
                  </div>
                  <!-- /.page title -->
                  <!-- .breadcrumb -->
                  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                     <ol class="breadcrumb">
                        <li><a th:href="@{/}">首页</a></li>
                        <li><a th:href="@{/ops}">运营数据</a></li>
                        <li class="active"><a th:href="@{#}">推荐餐厅</a></li>
                     </ol>
                  </div>
                  <!-- /.breadcrumb -->
               </div>
               <!-- .row -->
               <div class="row">
                  <div class="col-md-12">
                     <div class="white-box">
                        <h3 class="box-title">推荐餐厅<a class="pull-right" href="#">编辑报表</a><a class="pull-right qc-download" href="#" th:attr="data-url=@{/ops/restaurant/recommenders/export}">导出</a></h3>
                        
                        <div class="row">
                          <form id="query-form" th:action="@{/ops/restaurant/recommenders}" method="get">
                          <input type="hidden" name="pageNum" th:value="${page.number}" />
                          <input type="hidden" name="pageSize" th:value="${page.size}" />
<!--                           <div class="col-md-2"> -->
<!--                             <select class="selectpicker"  data-style="form-control" name="restResource"> -->
<!--                               <option th:selected="${restResource==-1}" value="-1">全部来源</option> -->
<!--                               <option th:each="x : ${restResourceList}" th:text="${x.value}" th:selected="${restResource==x.key}" th:value="${x.key}"></option> -->
<!--                             </select> -->
<!--                           </div> -->
                          <div class="col-md-2">
                            <select class="selectpicker"  data-style="form-control" name="city[]" multiple="multiple" title="全部城市" data-live-search="true">
                              <option th:each="x : ${cityList}" th:text="${x}"  th:value="${x}" th:selected="${#arrays.contains(city, x)}"></option>
                            </select>
                          </div>
                      <div class="col-md-2"> 
                            <select class="selectpicker"  data-style="form-control" name="recommandMethd">
                              <option th:selected="${recommandMethod == -1}" value="-1">全部方式</option>
                              <option th:selected="${recommandMethod == 'APP'}">APP</option>
                              <option th:selected="${recommandMethod == '编外推荐'}">编外推荐</option>
                            </select>
                          </div>                        
                          <div class="col-md-2">
                             <input type="text" class="form-control" name="restaurantName" th:value="${restaurantName}" placeholder="餐厅名"/>
                          </div>
                          
                          <div class="col-md-4">
                             <div class="input-daterange input-group" id="date-range">
                                <input type="text" class="form-control" name="start" th:value="${start}" placeholder="推荐时间"/>
                                <span class="input-group-addon"><i class="icon-calender"></i></span> 
                                <span class="input-group-addon bg-info b-0 text-white"> - </span>
                                <input type="text" class="form-control" name="end" th:value="${end}" placeholder="推荐时间"/>
                                <span class="input-group-addon"><i class="icon-calender"></i></span> 
                              </div>
                          </div>
                          
                          <div class="col-md-2">
                              <button type="submit" class="btn btn-block btn-primary waves-effect waves-light" style="height: 38px">搜索</button>
                          </div>
                          </form>
                        </div><!-- /.row -->
            
                     </div>
                  </div>
                
                  <div class="col-md-12">
                    <div class="white-box">
                        <div class="table-responsive">
                          <table class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>城市</th>
                                <th>餐厅名</th>
                                <th>行政区</th>
                                <th>餐厅地址</th>
                                <th>推荐方式</th>
                                <th>推荐人</th>
                                <th>推荐人邮箱</th>
                                <th>推荐人工号</th>
                                <th>推荐企业</th>
                                <th>推荐时间</th>
                                <th class="text-nowrap" style="display: none">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="item : ${page.content}">
                                <td th:text="${item.cityName}"></td>
                                <td th:text="${item.restaurantName}"></td>
                                <td th:text="${item.areaName}"></td>
                                <td th:text="${item.restaurantAddress}"></td>
                                <td th:text="${item.recommandMethod}"></td>
                                <td th:text="${item.recommandUser}"></td>
                                <td th:text="${item.email}"></td>
                                <td th:text="${item.jobNum}"></td>
                                <td th:text="${item.recommendCompany}"></td>
                                <td th:text="${item.createdAt}"></td>
                                <td class="text-nowrap" style="display: none"><a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a> <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> </td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr><td colspan="12" style="text-align: center;">
                                <div th:replace="fragments/pageinfo :: pageinfo(${page})"></div>
                              </td></tr>
                            </tfoot>
                          </table>
                        </div>
                      </div><!-- /.white-box -->
                  </div><!-- /.col-md-12 -->
               </div>
               <!-- /.row -->
               <!-- .right-sidebar -->
               <div th:replace="fragments/right_sidebar :: rightsidebar">
               </div>
               <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
            <footer th:replace="fragments/footer :: footer"></footer>
         </div>
         <!-- /#page-wrapper -->
      </div>
      <!-- /#wrapper -->
      
      <div class="foot_scripts" id="foot_scripts" th:replace="fragments/foot_scripts :: foot_scripts"></div>
      <script type="text/javascript">
      $(document).ready(function(){
    	  $('#date-range').datepicker({
              autoclose: true,
              todayHighlight: true,
              format: "yyyy-mm-dd"
          });
      });
      
      </script>
   </body>
</html>