<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="ERROR" monitorInterval="30" packages="com.quancheng.starter.log">
    <Properties>
        <Property name="baseDir">logs</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %l - %msg%xEx%n</Property>
        <Property name="CONSOLE_LOG_PATTERN">%highlight{${LOG_PATTERN}}{ ERROR=red, WARN=yellow, INFO=White,DEBUG=green}
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
        </Console>
         <AetherAppender name="Uploadlog" >
         	<PatternLayout pattern="${LOG_PATTERN}"/>
         </AetherAppender>
    </Appenders>
    <Loggers>
        <Logger name="druid.sql.DataSource" level="info"/>
        <Logger name="druid.sql.Connection" level="info"/>
        <Logger name="druid.sql.Statement" level="warn"/>
        <Logger name="druid.sql.ResultSet" level="warn"/>
        <Logger name="RocketmqClient" level="warn"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>