<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <head th:replace="fragments/head :: head"></head>
    
   <body class="fix-sidebar fix-header">
      <!-- Preloader -->
      <div class="preloader">
         <div class="cssload-speeding-wheel"></div>
      </div>
      <div id="wrapper">
         <!-- Top Navigation -->
         <nav th:replace="fragments/top_navbar :: navbar">
         </nav>
         <!-- End Top Navigation -->
         
         <!-- Left navbar-sidebar -->
         <div th:replace="fragments/left_sidebar :: sidebar">
         </div>
         <!-- Left navbar-sidebar end -->
         
         <!-- Page Content -->
         <div id="page-wrapper">
            <div class="container-fluid">
                  <div class="row bg-title">
                  <!-- .page title -->
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                     <h4 class="page-title">飞检记录服务</h4>
                  </div>
                  <!-- /.page title -->
                  <!-- .breadcrumb -->
                  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                     <ol class="breadcrumb">
                        <li><a th:href="@{/}">首页</a></li>
                        <li><a th:href="@{/ops}">运营数据</a></li>
                        <li class="active"><a th:href="@{#}">飞检记录服务</a></li>
                     </ol>
                  </div>
                  <!-- /.breadcrumb -->
               </div>
                  
                  
               <!-- .row -->
               <div class="row">
                  <div class="col-md-12">
                     <div class="white-box">
                        <h3 class="box-title">飞检记录 <a class="pull-right" href="#">编辑报表</a><a class="pull-right qc-download" href="#" th:attr="data-url=@{/ops/quanlity/download}">导出</a></h3>
                        
                        <div class="row">
                          <form id="query-form" th:action="@{/ops/quanlity}" method="get">
                          <input type="hidden" name="pageNum" th:value="${page.number}" />
                          <input type="hidden" name="pageSize" th:value="${page.size}" />
                          <div class="col-md-3">
                            <select class="selectpicker"  data-style="form-control" name="company" data-live-search="true">
                              <option th:selected="${company==-1}" value="-1">所属企业</option>
                              <option th:each="x : ${companyList}" th:text="${x}" th:selected="${company==x}"></option>
                            </select>
                          </div>
                          <div class="col-md-2">
                             <input type="text" class="form-control" name="shangpuName" th:value="${shangpuName}" placeholder="餐厅名"/>
                          </div>
                          <div class="col-md-2">
                             <input type="text" class="form-control" name="checkreason" th:value="${checkreason}" placeholder="检查原因"/>
                          </div>
                          <div class="col-md-2">
                            <select class="selectpicker"  data-style="form-control" name="checkType">
                              <option th:selected="${checkType==-1}" value="-1">检查类型</option>
                              <option th:each="x : ${checkTypeList}" th:text="${x}" th:selected="${checkType==x}"></option>
                            </select>
                          </div>
                           <div class="col-md-2">
                            <select class="selectpicker"  data-style="form-control" name="checkMode">
                              <option th:selected="${checkMode==-1}" value="-1">检查方式</option>
                              <option th:each="x : ${checkModeList}" th:text="${x}" th:selected="${checkMode==x}"></option>
                            </select>
                          </div>
                           <div class="col-md-2">
                            <select class="selectpicker"  data-style="form-control" name="cityName" multiple="multiple" title="全部城市" data-live-search="true">
                              <option th:each="x : ${cityNameList}" th:text="${x}" th:selected="${#arrays.contains(cityName, x)}"></option>
                            </select>
                          </div>
                         <div class="col-md-2">
                            <select class="selectpicker"  data-style="form-control" name="state" multiple="multiple" title="是否异常" data-live-search="true">
                              <option th:each="x : ${statemap}" th:text="${x.value}" th:selected="${#arrays.contains(state, x.key)}"  th:value="${x.key}"></option>
                            </select>
                          </div>
                          <div class="col-md-4">
                             <div class="input-daterange input-group" id="date-range">
                                <input type="text" class="form-control" name="start" th:value="${start}" placeholder="检查日期"/>
                                <span class="input-group-addon"><i class="icon-calender"></i></span> 
                                <span class="input-group-addon bg-info b-0 text-white"> - </span>
                                <input type="text" class="form-control" name="end" th:value="${end}" placeholder="检查日期"/>
                                <span class="input-group-addon"><i class="icon-calender"></i></span> 
                              </div>
                          </div>
                          
                          <div class="col-md-1">
                              <button type="submit" class="btn btn-block btn-primary waves-effect waves-light" style="height: 38px">搜索</button>
                          </div>
                          </form>
                        </div><!-- /.row -->
            
                     </div>
                  </div>
                
                
                
                
                  <div class="col-md-12">
                    <div class="white-box">
                        <div class="table-responsive">
                          <table class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th width="8%">检查日期</th>
                                <th width="5%">城市</th>
                                <th width="8%">餐厅名称</th>
                                <th width="8%">餐厅地址</th>
                                <th width="4%">订单人姓名</th>
                                <th width="8%">订单人工号</th>
                                <th width="8%">所属企业</th>
                                <th width="8%">检查方式</th>
                                <th width="8%">检查类型</th>
                                <th>订单号</th>
                                <th>订单金额</th>
                                <th>预计金额</th>
                                <th>飞检原因</th>
                                <th width="8%">是否异常</th>
                                <th width="8%">异常原因</th>
                                <th width="40%">异常内容</th>
                                <th width="10%">预计消费金额</th>
                                <th class="text-nowrap" style="display: none">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                             <tr th:each="item : ${page.content}">
                                <td th:text="${item.checkDate}" style="word-break:normal "></td>
                                <td th:text="${item.cityName}"></td>
                                <td th:text="${item.shangpuName}"></td>
                                <td th:text="${item.shangpuAddress}"></td>
                                <td width="4%" th:text="${item.realname}"></td>
                                <td th:text="${item.jobNum}"></td>
                                 <td th:text="${item.company}"></td>
                                <td th:text="${item.checkMode}"></td>
                                <td th:text="${item.checkType}"></td>
                                <td th:text="${item.orderNum}"></td>
                                <td th:text="${item.orderMoney}"></td>
                                <td th:text="${item.orderPredictCost}"></td>
                                <td th:text="${item.checkReason}"></td>
                                <td th:text="${item.status}"></td>
                                <td th:text="${item.abnormalType}"></td>
                                <td width="40%" th:text="${item.checkItem}"  style="width:600px;word-wrap:break-word;word-break:break-all"></td>
                                <th th:text="${item.orderPredictCost}"></th>
                                <td class="text-nowrap" style="display: none"><a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a> <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> </td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr><td colspan="14" style="text-align: center;">
                                    <div th:replace="fragments/pageinfo :: pageinfo(${page})"></div>
                              </td></tr>
                            </tfoot>
                          </table>
                        </div>
                      </div><!-- /.white-box -->
                  </div><!-- /.col-md-12 -->
               </div>
               <!-- /.row -->
               <!-- .right-sidebar -->
               <div th:replace="fragments/right_sidebar :: rightsidebar">
               </div>
               <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
            <footer th:replace="fragments/footer :: footer"></footer>
         </div>
         <!-- /#page-wrapper -->
      </div>
      <!-- /#wrapper -->
      
      <div class="foot_scripts" id="foot_scripts" th:replace="fragments/foot_scripts :: foot_scripts"></div>
      <script type="text/javascript">
      $(document).ready(function(){
          $('#date-range').datepicker({
              autoclose: true,
              todayHighlight: true,
              format: "yyyy-mm-dd"
          });
      });
      
      </script>
   </body>
</html>