<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <head th:replace="fragments/head :: head"></head>
   <body class="fix-sidebar fix-header">
      <!-- Preloader -->
      <div class="preloader">
         <div class="cssload-speeding-wheel"></div>
      </div>
      <div id="wrapper">
         <!-- Top Navigation -->
         <nav th:replace="fragments/top_navbar :: navbar">
         </nav>
         <!-- End Top Navigation -->
         <!-- Left navbar-sidebar -->
         <div th:replace="fragments/left_sidebar :: sidebar">
         </div>
         <!-- Left navbar-sidebar end -->
         <!-- Page Content -->
         <div id="page-wrapper">
            <div class="container-fluid">
               <div class="row bg-title">
                  <!-- .page title -->
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                     <h4 class="page-title">数据导入-医院</h4>
                  </div>
                  <!-- /.page title -->
                  <!-- .breadcrumb -->
                  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                     <ol class="breadcrumb">
                        <li><a th:href="@{/}">首页</a></li>
                        <li><a th:href="@{/ops}">运营数据</a></li>
                        <li class="active"><a th:href="@{#}">数据导入-医院</a></li>
                     </ol>
                  </div>
                  <!-- /.breadcrumb -->
               </div>
               <!-- .row -->
               <div class="row">
                  <div class="col-md-4">
                     <div class="white-box panel" >
                        <h3 class="box-title">数据导入-医院</h3>
                        <div class="row">
                          <form id="submit-form" enctype="multipart/form-data" th:action="@{/hospital/import/proccessing}" method="post">
                              <input type="hidden" id="_csrf" th:value="${_csrf.token}"/>   
                              <table class="table table-hover" style="border: none;">
                                  <tr>
                                      <td align="right" style="padding:22px 12px;font-size: 16px;"><span>关联企业</span></td>
                                      <td>
                                           <select name="clientId"   class="selectpicker"  data-style="form-control" >
                                                <option th:each="cl:${clientList}" th:value="${cl.detailKey}" th:text="${cl.detailText}"></option>
                                           </select>
                                      </td>
                                  </tr>  
                                  <tr>
                                      <td align="right" style="padding:22px 12px;font-size: 16px;"><span>数据集</span></td>
                                      <td>
                                            <select name="dorisTableId"   class="selectpicker"  data-style="form-control" >
                                                <option th:each="cl:${tableList}" th:value="${cl.id}" th:text="${cl.chartName}"></option>
                                            </select>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td align="right" style="padding:22px 12px;font-size: 16px;"><span>目标表</span></td>
                                      <td>
                                           <select name="targetTable"   class="selectpicker"  data-style="form-control" >
                                                <option value="hospital">医院</option>
                                           </select>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td align="right" style="padding:22px 12px;font-size: 16px;"><span>api（百度／高德）</span></td>
                                      <td>
                                          <select name="apiType"   class="selectpicker"  data-style="form-control" >
                                                <option value="baidu">百度</option>
                                          </select>
                                      </td>
                                  </tr>
                                  <tr>
                                       <td >
                                       </td>  
                                      <td >
                                         <div class="col-md-6">
                                              <button type="button" id="data-calculate-btn"  th:attr="status=${status}"
                                                th:disabled="${status=='busy'}?'disabled':null"
                                                class="btn btn-block btn-primary waves-effect waves-light" style="height: 38px;">导入</button>
                                          </div>
                                      </td>
                                  </tr>   
                              </table>
                          </form>
                        </div><!-- /.row -->
                     </div>
                  </div>
                  <div class="col-md-8" id="data-preview">
                  </div>
               </div>
               <!-- /.row -->
               <!-- .right-sidebar -->
               <div th:replace="fragments/right_sidebar :: rightsidebar">
               </div>
               <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
            <footer th:replace="fragments/footer :: footer"></footer>
         </div>
         <!-- /#page-wrapper -->
      </div>
      <!-- /#wrapper -->
      <div class="foot_scripts" id="foot_scripts" th:replace="fragments/foot_scripts :: foot_scripts"></div>
      <script type="text/javascript" src="http://malsup.github.io/min/jquery.blockUI.min.js"></script>
   </body>
   <script src="/elite/plugins/bower_components/dropify/dist/js/dropify.min.js"></script>
   <script type="text/javascript">
   /*<![CDATA[*/
            $('#data-calculate-btn').click(function(){
                var formData = new FormData($('#submit-form')[0]);
                $.ajax({
                    url: '/hospital/import/proccessing',  //server script to process data
                    type: 'POST',
                    xhr: function() {  // custom xhr
                        myXhr = $.ajaxSettings.xhr();
                        if(myXhr.upload){ // check if upload property exists
                            myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // for handling the progress of the upload
                        }
                        return myXhr;
                    },
                    //Ajax事件
                    // Form数据
                    data: formData,
                    beforeSend: function(request){
                       loadMagic();
                    	   request.setRequestHeader("X-CSRF-TOKEN", $("#_csrf").val()); 
                    },
                    success: function(response){
                    	   $.unblockUI();
                    },
                    error:function(response){
                    	   $.unblockUI();
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
            function progressHandlingFunction(e){
                if(e.lengthComputable){
                    $('progress').attr({value:e.loaded,max:e.total});
                }
            }
            function loadMagic(){
            	   $.blockUI({ message: '<h1><img src="/elite/plugins/bower_components/x-editable/dist/jqueryui-editable/img/loading.gif" .> Just a moment...</h1>' });
            }
            $(document).ready(function(){
            	   if("busy"==$("#data-calculate-btn").attr("status")){
            		   loadMagic();
            	   }
                var code = setInterval(function(){
                    $.ajax({
                        url: '/hospital/import/status',  
                        type: 'get',
                        dataType:"json",
                        beforeSend: function(request){
                            request.setRequestHeader("X-CSRF-TOKEN", $("#_csrf").val()); 
                         },
                         success: function(msg){
                        	   if(rs=='free'){
                        		   $.unblockUI();
                        	   }
                        } ,
                        error:function(resp){
	                        	if(resp.responseText=='free'){
	                        		$.unblockUI();
	                        		$("#data-calculate-btn").attr("disabled",null);
	                        	}else if (resp.responseText=='busy'){
	                        		loadMagic();
	                        		$("#data-calculate-btn").attr("disabled","disabled");
	                        	}
                        }
                    });
                },3000);
            });
    /*]]>*/
   </script>
</html>