<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body class="no-skin" th:fragment="pageinfo(page)"  >
        <ul class="pagination m-b-0 pull-left" >
            <li><a href="#" th:text="${'总计:'+(page==null?0:page.getTotalElements())}"><i class="fa fa-angle-double-left"></i></a> </li>
	        <li><a href="#" th:attr="data-page=0"><i class="fa fa-angle-double-left"></i> 首页</a> </li>
			<li th:if="${page==null or !page.hasPrevious()}" class="disabled"> <a href="#"><i class="fa fa-angle-left"></i> 上一页</a> </li>
			<li th:if="${page!=nul and page.hasPrevious()}"> <a href="#"  th:attr="data-page=${page.number-1}"><i class="fa fa-angle-left"></i> 上一页</a> </li>
			<li class="active"> <a href="#" th:attr="data-page=${page==null ?0:page.number}" th:text="${page==null ?0:page.number+1} + ' / ' + ${page==null ?0:page.totalPages}"></a> </li>
			<li th:if="${page!=null and page.hasNext()}"> <a href="#"  th:attr="data-page=${page==null ?0:page.number+1}">下一页 <i class="fa fa-angle-right"></i> </a> </li>
			<li th:if="${page==null or !page.hasNext()}" class="disabled"> <a href="#">下一页 <i class="fa fa-angle-right"></i> </a> </li>
			<li> <a href="#" th:attr="data-page=${page==null ?0:page.totalPages-1}">尾页 <i class="fa fa-angle-double-right"></i></a> </li>
        </ul>
        <script src="/elite/plugins/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(function(){
            // 上下双横向滚动条
            $('.table-responsive').doubleScroll();
            // reset pageNum when click search button
            $('#query-form button[type="submit"]').on('click',function (event) {
              event.preventDefault();
              $('form#query-form input[name="pageNum"]').val(0);
              $('form#query-form').submit();
            });
            // pagination
            $('ul.pagination li:not(.active) a').click(function(event){
              event.preventDefault();
              if($(this).data('page')!==undefined) {
                $('form#query-form input[name="pageNum"]').val($(this).data('page'));
                $('form#query-form').submit();
              }
            });
            // 导出 下载
            $('a.qc-download').click(function(event){
                event.preventDefault();
                var $downloadButton=$(this);
                $downloadButton.addClass("btn disabled").html("导出中...");
                $.ajax({
                    type:$("#query-form").attr("method"),
                    url:$downloadButton.data('url') ,
                    data: $("#query-form").serialize(),
                    dataType: "json",
                    success:function(){
                      // resp: {"status":"0","msg":null,"data":null}
//                       setTimeout(function(){$downloadButton.html('导出申请成功，请等待文件生成从右边栏下载');},3000);
                        $downloadButton.html('导出申请成功，请等待文件生成从右边栏下载');
                    }
                }); // end of $.ajax
            });
        });
            /*]]>*/
        </script>
	</body>
</html>