<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <head th:replace="fragments/head :: head"></head>

   <body class="fix-sidebar fix-header">
      <!-- Preloader -->
      <div class="preloader">
         <div class="cssload-speeding-wheel"></div>
      </div>
      <div id="wrapper">
         <!-- Top Navigation -->
         <nav th:replace="fragments/top_navbar :: navbar">
         </nav>
         <!-- End Top Navigation -->

         <!-- Left navbar-sidebar -->
         <div th:replace="fragments/left_sidebar :: sidebar">
         </div>
         <!-- Left navbar-sidebar end -->

         <!-- Page Content -->
         <div id="page-wrapper">
            <div class="container-fluid">
               <div class="row bg-title">
                  <!-- .page title -->
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                     <h4 class="page-title">用户信息</h4>
                  </div>
                  <!-- /.page title -->
                  <!-- .breadcrumb -->
                  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                     <ol class="breadcrumb">
                        <li><a th:href="@{/}">首页</a></li>
                        <li><a th:href="@{/ops}">运营数据</a></li>
                        <li class="active"><a th:href="@{#}">用户信息</a></li>
                     </ol>
                  </div>
                  <!-- /.breadcrumb -->
               </div>
               <!-- .row -->
               <div class="row">
                  <div class="col-md-12">
                     <div class="white-box">
                        <h3 class="box-title">用户信息 <a class="pull-right" href="#">编辑报表</a><a class="pull-right qc-download" href="#" th:attr="data-url=@{/ops/member/download}">导出</a></h3>

                        <div class="row">
                          <form id="query-form" th:action="@{/ops/member/}" method="get">
                          <input type="hidden" name="pageNum" th:value="${page.number}" />
                          <input type="hidden" name="pageSize" th:value="${page.size}" />
                          <div class="col-md-2">
                            <select class="selectpicker"  data-style="form-control" name="company" data-live-search="true">
                              <option th:selected="${company==-1}" value="-1">所属企业</option>
                              <option th:each="x : ${companyList}" th:text="${x}" th:selected="${company eq x}"></option>
                            </select>
                          </div>
                              <div class="col-md-2">
                                  <select class="selectpicker"  data-style="form-control" name="city[]" multiple="multiple" title="全部城市" data-live-search="true">
                                      <option th:each="x: ${cityList}" th:text="${x.regionName}" th:value="${x.id}" th:selected="${#arrays.contains(city, x.id.toString())}"></option>
                                  </select>
                              </div>
                              <div class="col-md-2">
                                  <select class="selectpicker"  data-style="form-control" name="userStatus" multiple="multiple" title="全部状态" data-live-search="true">
                                      <option th:each="x : ${userStatusList}" th:text="${x.value}" th:value="${x.key}" th:selected="${#arrays.contains(userStatus, x.key.toString())}"></option>
                                  </select>
                              </div>

                              <div class="col-md-1">
                                  <select class="selectpicker"  data-style="form-control" name="type" >
                                      <option  value="realname" th:selected="${type=='realname'}">姓名</option>
                                      <option  value="mobile"   th:selected="${type=='mobile'}">手机</option>
                                      <option  value="jobnum"   th:selected="${type=='jobnum'}">工号</option>
                                      <option  value="email"    th:selected="${type=='email'}">邮箱</option>
                                  </select>
                              </div>
                              <div class="col-md-3">
                                  <input type="text" class="form-control"  placeholder="姓名/手机/工号/邮箱" name="keyword" th:value="${keyword}"  />
                              </div>
                              <div class="col-md-2">
                                 <button type="submit" class="btn btn-block btn-primary waves-effect waves-light" style="height: 38px">搜索</button>
                               </div>
                              <div class="col-md-4">
                                    <div class="input-daterange input-group" id="date-range">
		                                <input type="text" class="form-control" name="startDate" th:value="${startDate}" placeholder="注册日期"/>
		                                <span class="input-group-addon"><i class="icon-calender"></i></span> 
		                                <span class="input-group-addon bg-info b-0 text-white"> - </span>
		                                <input type="text" class="form-control" name="endDate"  th:value="${endDate}" placeholder="注册日期"/>
		                                <span class="input-group-addon"><i class="icon-calender"></i></span> 
                                    </div>
                              </div>
                          </form>
                        </div><!-- /.row -->

                     </div>
                  </div>

                  <div class="col-md-12">
                    <div class="white-box">
                        <div class="table-responsive">
                          <table class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th style="min-width: 200px;">所属企业</th>
                                <th style="min-width: 60px;">UID</th>
                                <th style="min-width: 60px;">姓名</th>
                                <th>手机</th>
                                <th>工号</th>
                                <th style="min-width: 200px;">邮箱</th>
                                <th style="min-width: 60px;">城市</th>
                                <th style="min-width: 60px;">上级姓名</th>
                                <th style="min-width: 200px;">上级邮箱</th>
                                <th style="min-width: 100px;">注册时间</th>
                                <th style="min-width: 80px;">用户状态</th>
                                <th >消费集中度</th>
                                <th >月均消费</th>
                                <th >活动频率</th>
                                <th >人均偏差</th>
                                <th >提前预约指数</th>
                                <th >飞检异常次数</th>
                                <th width="5%">子公司</th>
                                <th width="8%">事业部</th>
                                <th width="8%">部门</th>
                                <th width="5%">产品组</th>
                                <th width="5%">大区</th>
                                <th width="5%">成本中心</th>
                                <th class="text-nowrap" style="display: none">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="item : ${page.content}">
                                <td th:text="${item.clientTitle}"></td>
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.realname}"></td>
                                <td th:text="${item.mobile}"></td>
                                <td th:text="${item.jobNum}"></td>
                                <td th:text="${item.email}"></td>
                                <td th:text="${item.city}"></td>
                                <td th:text="${item.superiorName}"></td>
                                <td th:text="${item.superiorEmail}"></td>
                                <td th:text="${item.regTime}"></td>
                                <td th:text="${item.statusText}"></td>
                                <td th:text="${#numbers.formatDecimal(item.consumeMedian*100,1,0) +'%'}"></td>
                                <td th:text="${item.perMonth}"></td>
                                <td th:text="${item.actFrequency}"></td>
                                <td th:text="${item.perMeanDiff}"></td>
                                <td th:text="${item.preYuyueIndex}"></td>
                                <td th:text="${item.caseTimes}"></td>
                                <td th:text="${item.branch}"></td>
                                <td th:text="${item.businessunit}"></td>
                                <td th:text="${item.sector}"></td>
                                <td th:text="${item.productgroup}"></td>
                                <td th:text="${item.region}"></td>
                                <td th:text="${item.costcenter}"></td>
                                <td class="text-nowrap" style="display: none"><a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a> <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> </td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr><td colspan="22" style="text-align: center;">
                                <div th:replace="fragments/pageinfo :: pageinfo(${page})"></div>
                              </td></tr>
                            </tfoot>
                          </table>
                        </div>
                      </div><!-- /.white-box -->
                  </div><!-- /.col-md-12 -->
               </div>
               <!-- /.row -->
               <!-- .right-sidebar -->
               <div th:replace="fragments/right_sidebar :: rightsidebar">
               </div>
               <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
            <footer th:replace="fragments/footer :: footer"></footer>
         </div>
         <!-- /#page-wrapper -->
      </div>
      <!-- /#wrapper -->

      <div class="foot_scripts" id="foot_scripts" th:replace="fragments/foot_scripts :: foot_scripts"></div>
      <script type="text/javascript">
      $(document).ready(function(){
          $('#date-range').datepicker({
              autoclose: true,
              todayHighlight: true,
              format: "yyyy-mm-dd"
          });
      });
      </script>
   </body>
</html>